*{box-sizing: border-box;}
body{
    margin: 0;
    cursor: url('https://cdn.custom-cursor.com/db/cursor/32/Rocket_cursor.png'), progress; /*progress to mess with people*/
    background-color: rgb(00,00,00,1);
}
.moon{
    background-image: url("./media/moon.jpg");
}
.mediaSpecs{
    height:100vh;
    width:100vw;
    border: 1px solid black;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    position: relative;
}
.rocket{
    background-image: url("./media/rocket.jpg");
    background-size:contain;
}
.textB{
    display: flex;
    align-content:center;
    justify-content: space-between;
    flex-flow: nowrap column;
    color:whitesmoke;
    font-family:sans-serif;
    background-color: rgba(00,00,00,00);
    height: 90vh;
    width: 80vw;
    z-index: 1;
}

.textA{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-family: 'Beyonders';
    text-shadow: 5px 5px 10px #000000;
    text-align: center;
}
@font-face {
    font-family: 'Beyonders';
    src: url('./media/Beyonders.ttf');
}
#header{
    position: fixed;
    color:gainsboro;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color:rgb(00,00,00,0.7);
    height: 3.3rem;
    font-family:'Beyonders' ;
}
#navHeader{
    display: flex;
    margin-right: auto;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
#logo{
    width: 7rem;
    height: 5rem;
}
button{
    color: white;
    background-color: rgb(00,00,00,0);
    border: none;
    padding:0rem;
    width: 2rem;
    height: 2rem;
    border-radius: 30%;
    font-size: 1.5rem;
    text-align: center;
}
a, a:visited, a:active, a:link {
    color: inherit;
    text-decoration: none;
}
a:hover, button:hover {
    color: yellow;
    background: rgb(00,00,00,0);
    cursor:pointer
}
.addPadding{
    padding-bottom: 1rem;
}

.yutani{
    color: yellow;
}
footer{
    
    background-color: rgb(00,00,00,0.5);
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: xx-small;
    border: gray dashed;
}
#readMore{
border: white solid 2px;
background: rgb(00,00,00,0);
align-self: flex-start;
height: 4rem;
width: 20rem;
text-align: center;
font-size:x-large;
padding-top: 1rem;
}
#aboutPOne{
align-self: flex-end;
background: rgb(00,00,00,0);
height: 10rem;
width: 20rem;
padding-right: 3rem;
}
#aboutPTwo{
align-self:flex-start ;
background: rgb(00,00,00,0);
height: 10rem;
width:20rem;
padding-left: 3rem;
order: -1;
padding-top: 4.5rem;
}
#flashy{
font-family:'Times New Roman', Times, serif;
text-decoration:none;
animation-name: flashyFlash;
animation-duration:0.5s;
animation-timing-function:ease-in;
animation-iteration-count:Infinite;
padding-top: 13rem;
font-size: x-large;
font-family: 'Beyonders';
text-shadow: 20px 20px 20px #000000;
text-align: center;
padding-left: 20rem;
color: ghostwhite;
}

@keyframes flashyFlash{
50%{color:yellow;}
50%{color: black;}
50%{color:yellow;}
}